/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url("assets/images/back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100vw;
    height: 100px;
    background-color: #203945;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo_box{
        
        background-image: url("assets/images/logo.png");
        height: 80px;
        width: 140px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px 20px;
        align-self: flex-start;
        @media screen and (max-width: 497px) {
           
            margin-left: 4px;
            margin-top: 7px;
        }
    }
    .link_box {
        button{
            color: #203945;
            background-color: #fcd7ce; 
            border-radius: 9px;
            width: 100px;
            height: 30px;}
        display: flex;
        align-items: center;
        height: 80px;
        margin: 10px;
        align-self: flex-end;
       // border: 1px dotted grey;
       @media screen and (max-width: 497px) {
       flex-direction: column;
       justify-content: center;
        //margin: 5px;
    }
    }
}

@media screen and (max-width: 415px){
            
    svg{width: 0.75em !important;}


     
   }