<div class="big_container">
    <div class="top_bar">
        <h2>Find Flights</h2>
      </div>
<div class="container">


    <div class="search_pane"> 
        <div class="search_box">
          <select [(ngModel)]="selectedOrigin">
            <option value="" disabled selected>From</option>
            <option *ngFor="let origin of origins" value={{origin.origin}} >{{origin.origin}}</option>
           
          </select>
        </div>
        <div class="search_box">
          <select [(ngModel)]="selectedDestination">
            <option value="" disabled selected>To</option>
            <option *ngFor="let dest of dests" value={{dest.destination}} >{{dest.destination}}</option>
          </select>
        </div>
        <div class="search_box">
          <button (click)="query()">Go</button>
        </div>
      </div>
      
       
    
    <div class="flight_pane"> 
        <div class="flight_headers">
            <div class="flight_number cell"> Flight # </div>
            <div class="departs cell"> Departs </div>
            <div class="arrives cell"> Arrives </div>
            <div class="nonstop cell"> Nonstop </div>
          </div>

        <div *ngFor="let flight of flights" class="flight_results">
            <div class="flight_number cell"> {{flight.flightnumber}}</div>
            <div class="departs cell"> {{flight.depart | date: 'shortDate'}}</div>
            <div class="arrives cell"> {{flight.arrive | date: 'shortDate' }}</div>
            <div class="nonstop cell"> {{flight.nonstop}}</div>
        </div> 
    </div>  
</div>
</div>